{% extends "blog/base.html" %}{% block content %}
<h2>You have benn logged out</h2>
<div class="border-top pt-3">
  <small class="text-muted">
    Already Have An Account? <a href="{% url 'login' %}">Log In Again</a>
  </small>
</div>
{% endblock content %}
